<div class="countries-container" id="top">
    <div class="row">
        <div>
            <div class="input-group">
                <input type="text" ng-model="query" class="form-control" ng-change="load()" placeholder="Bordeaux, Toulouse, Nante...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div ng-show="cities.length == 0" class="alert alert-info"> Aucun result :(</div>
        <ul style="margin:0px;" class="cities">
            <li ng-repeat="city in cities | orderBy: id" class="list-group-item">
                <div class="row">
                    <div class="col-md-8">
                        <a ng-href="#/weather/{{city.ville}}"><h4>{{city.ville}} - {{city.cp}}</h4></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>