<div class="city_detail">

    <div class="row">
        <a href="#/weather" class="pull-right"><span class="glyphicon glyphicon-search"></span></a>
        <br><br>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{city.name}}  <i class="wi wi-day-lightning"></i></h3>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Temps</th>
                            <th>Température min</th>
                            <th>Température max</th>
                            <th>Himidité</th>
                            <th>Vent (rafales)</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{city.weather[0].description}}</td>
                                <td>{{city.main.temp_min}} °C</td>
                                <td>{{city.main.temp_max}} °C</td>
                                <td>{{city.main.humidity}} %</td>
                                <td>{{city.wind.speed}} km/h</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>
